ul.lista{
    padding: 0;

    .primario {
        background-color: red;
    }

    li{

        list-style: none;
        padding: 10px;
        border: 2px solid grey;
        background-color: teal;
        color: white;

        &:hover{
            color:teal;
            background-color: white;
            cursor: pointer;
        }

        .glyphicon {
            float: right;
            padding: 2px;
            text-align: center;
            width: auto;
        }
    }
}

input{
    width: 100%;
}



