<p>Ejemplo de un
  <b>componente padre e hijo</b> y aprender a pasar paramentros con
  <b>@input y @output</b>
</p>
<p>Padre:
  <b>ConcesionarioComponent</b>
</p>
<p>Hijo:
  <b>CocheComponent</b>
</p>



<nav aria-label="Catalogo de Coches">
  <ul class="catalogo pagination">
    <li *ngFor="let coche of coches" [class.active]="coche == cocheActivo">
      <a aria-label="Previous">{{ coche.marca }} {{ coche.modelo }} {{ coche.version }}</a>
    </li>
  </ul>
</nav>

<app-formulario-coches (cocheCreado)="cocheCreadoEvent($event)"></app-formulario-coches>
<div class="row">
  <div class="lista col-xs-3">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">Catalogo de Coches</h3>
      </div>
      <div class="panel-body">
        <input [(ngModel)] = "searchText" placeholder="Busca tu coche">
        <ul class="catalogo lista">
          <li *ngFor="let coche of coches | cochesFilter : searchText; let i = index" [class.primario]="coche == comparador[0] || coche == comparador[1]">
            <!-- {{ coche.marca }} {{ coche.modelo }} {{ coche.version }} -->
            <app-coche-lista [coche]="coche" (cocheSeleccionado)="compararCocheEvent($event)"></app-coche-lista>
            <span class="glyphicon glyphicon-remove btn btn-danger col-xs-1" aria-hidden="true" (click)="deleteCoche(i)"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="comparador col-xs-9">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">Comparador de Coches</h3>
      </div>
      <div class="panel-body">
        <!-- <div class="coche" *ngFor="let cocheIteracion of comparador">
          <app-coche [cocheParam]="cocheIteracion" (cocheSeleccionado)="recibirCoche($event)"></app-coche>
        </div> -->
        <app-coche [c1]="comparador[0]" [c2]="comparador[1]" (cocheSeleccionado)="recibirCoche($event)"></app-coche>
        <app-coche [c1]="comparador[1]" [c2]="comparador[0]" (cocheSeleccionado)="recibirCoche($event)"></app-coche>
      </div>
    </div>
  </div>
</div>