<!--The content below is only a placeholder and can be replaced.-->


  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">{{title}}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="receta" routerLinkActive="active">Recetas</a></li>
          <li><a routerLink="propiedades" routerLinkActive="active">Propiedades</a></li>
          <li><a routerLink="usuario" routerLinkActive="active">Usuarios</a></li>
          <li><a routerLink="concesionario" routerLinkActive="active">Concesionario</a></li>
          <li><a routerLink="recetario" routerLinkActive="active">Recetario</a></li>
          <li><a routerLink="plantilla" routerLinkActive="active">Plantilla</a></li>
          <li><a routerLink="todos" routerLinkActive="active">TODOs</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="container">

    <router-outlet></router-outlet>
    
    
    
  </div>

