
    <div class="col-xs-6">
      <div class="thumbnail" (click)="seleccionar($event)">
        <img src="{{coche.foto}}" alt="{{coche.marca}} {{coche.modelo}}">
        <div class="caption">
          <h3>{{coche.marca}} {{coche.modelo}} {{coche.version}}</h3>          
        </div>
        <div class="caracteristicas">
          <p>Puertas: {{ coche.puertas }}</p>
          <p>Caballos: {{ coche.caballos }}</p>
          <p>Consumo: {{ coche.consumo }}l/100km</p>
        </div>
      </div>
    </div>
  