
    <div class="col-xs-6">
      <div class="thumbnail" (click)="seleccionar($event)">
        <img src="{{c1.foto}}" alt="{{c1.marca}} {{c1.modelo}}">
        <div class="caption">
          <h3>{{c1.marca}} {{c1.modelo}} {{c1.version}}</h3>          
        </div>
        <div class="caracteristicas">
          <p>Puertas: {{ c1.puertas }} <span [class]="(c1.puertas-c2.puertas>0)?'badge positivo':'badge negativo'">{{c1.puertas-c2.puertas}}</span></p>
          <p>Caballos: {{ c1.caballos }}</p>
          <p>Consumo: {{ c1.consumo }}l/100km</p>
        </div>
      </div>
    </div>
  