<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{img}}" alt="{{nombre}}">
      <div class="caption">
        <h3>{{nombre}}</h3>
        <p>{{descripcion | slice:0:20 }}...</p>
        <p>
          <span class="cocinero">{{cocinero}}</span>
          <span class="label label-primary" (click)="sumarLike()">{{likes}} likes</span>
        </p>

        <section class="ingredientes">
          <div class="ingredientesHeader">
            <span class="badge">{{contIngredientes}}</span>
            <h4>Ingredientes</h4>
            <span *ngIf="!mostrar" class="ingredientesToggle" (click)="showIngredientes()"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
            <span *ngIf="mostrar" class="ingredientesToggle" (click)="showIngredientes()"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </div>
          <div *ngIf="mostrar" class="listaIngredientes">
            <ol>
              <li  *ngFor="let ingrediente of ingredientes">{{ingrediente}}</li>
            </ol>
          </div>
        </section>


        <img class="gluten" *ngIf="isGlutenFree" src="\assets\img\gluten_free_icon.png" alt="gluten">
        <img class="gluten" *ngIf="!isGlutenFree" src="\assets\img\gluten_icon.png" alt="gluten">

      </div>
    </div>
  </div>
</div>