<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{receta.img}}" alt="{{receta.nombre}}">
      <div class="caption">
        <h3>{{receta.nombre}}</h3>
        
        <p>{{receta.descripcion | slice:0:20 }}...</p>
        <p>
          <span class="cocinero">{{receta.cocinero}}</span>
          <span class="label label-primary" (click)="sumarLike()">{{receta.likes}} likes</span>
        </p>

        <section class="ingredientes">
          <div class="ingredientesHeader" (click)="showIngredientes()">
            <span class="badge">{{receta.ingredientes.length}}</span>
            <h4>Ingredientes</h4>
            <span class="ingredientesToggle glyphicon {{glyphicon}}"></span>
          </div>
          <div *ngIf="mostrar" class="listaIngredientes">
            <ol>
              <li  *ngFor="let ingrediente of receta.ingredientes">{{ingrediente}}</li>
            </ol>
          </div>
        </section>
        


        <img class="gluten" *ngIf="receta.isGlutenFree" src="\assets\img\gluten_free_icon.png" alt="gluten">
        <img class="gluten" *ngIf="!receta.isGlutenFree" src="\assets\img\gluten_icon.png" alt="gluten">

      </div>
    </div>
  </div>
</div>